html, body {
    margin:0 !important;
    padding:0 !important;
    height: 100%;

}

.pageheader {
    width: 100%;
    height: 8%;
    background-color: #66afe9;
}

.pageheader .container #heading h1 {
    padding-top:1%;
    padding-left:1%;
    margin:0;
    float: left;
    white-space: nowrap;
}

.pageheader .container #login-form {
    margin-top: 1%;
    float: right;
}

.main {
    height: 82%;
}

.main .background {
    height: 100%;
    background-image: url(../images/grad-home.jpg);
    background-size: cover;
    opacity: 0.7;
}

.main .background h1 {
    margin-top: 0;
    padding-top: 5%;
    padding-left: 10%;
    font-family: "New Peninim MT";
    color: darkblue;
    white-space: nowrap;
}

.sidebar {
    float: center;
    width: 500px;
}

.sidebar .widget {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #ccc;
    margin-left: 100px;
    background-color: #FFE4E1;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}

.sidebar .widget h1 {
    font-family: 'Quicksand';
    margin: 13px 10px 4px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ddd;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    margin-bottom: 10px;
}

.sidebar .widget p {
    font-size: 13px;
    padding: 0px 10px;
    margin-bottom: 10px;
}

footer {
    height: 10%;
    background-color: #66afe9;
}

footer p {
    margin: 0;
    padding: 10px;
    color: antiquewhite;
}
