html, body {
    margin:0 !important;
    padding:0 !important;
    height: 100%;

}

.pageheader {
    width: 100%;
    height: 8%;
    background-color: #66afe9;
}

.pageheader .container #heading h1 {
    padding-top:1%;
    padding-left:1%;
    margin:0;
    float: left;
    white-space: nowrap;
}

.pageheader .container #login-form {
    margin-top: 1%;
    float: right;
}

.main, .main-activity, .main-reg-counsellor, .demo-container {
    height: 82%;
}

.main .background {
    height: 100%;
    background: url(../images/grad-home.jpg);
    background-size: cover;
    opacity: 1;
}

.main .background h1 {
    margin-top: 0;
    padding-top: 5%;
    padding-left: 10%;
    font-family: "New Peninim MT";
    color: darkblue;
}

.register-counsellor {
    padding-left: 15%;
}

.register-counsellor h2 {
    color: blueviolet;
    display: inline;
}

.home-reg-form {
    background-color: #eee ;
    opacity:1;
    margin-left:10%;
};

.select-row {
    margin-bottom: 12px;
}


footer {
    height: 10%;
    background-color: #66afe9;
}

footer p {
    margin: 0;
    padding: 10px;
    color: antiquewhite;
}

.div2 h1{
    display: inline;
}
