extends layout

block header
    .pageheader
        .container
            #heading
                h1 MyGradWorld

block content
    .demo-container
        .div1
            h1 this is div1
        .div2
            h1 this is div2
            h1 this is subdiv2
