extends layout

block header
    .pageheader
        .container
            #heading
                h1 MyGradWorld
            #login-form
                form(action="/", method="post")
                    input(type="text", id="login-email", placeholder="Email", autofocus="autofocus", name="email")
                    input(type="password" id="login-password" placeholder="Password", name="password")
                    input(type="submit" name="submit" value="Sign In")
block content
    .main
        .background
            h1 Build your future with us
