doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      .pageheader
    block content
    block footer
      footer
          p
            | Copyright &copy; 2016 | Terms and Conditions
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
