
extends layout

block header
    .pageheader
        .container
            #heading
                h1 MyGradWorld

block content
    .main-reg-counsellor
        .row
            .col-lg-8
                h1 Sign up as Counsellor
        .row
            .home-reg-form(class="col-lg-4")
                p
                form(action='/register', method="post")
                    .one-half(class="form-group col-lg-6")
                        input.form-control(type="text", id="first-name", placeholder="Fist Name", aria-required="true", autofocus="autofocus", name="firstname")
                    .one-half(class="form-group col-lg-6")
                        input.form-control(type="text", id="last-name", placeholder="Last Name", autofocus="autofocus", name="lastname")
                    .one-full(class="form-group col-lg-12")
                        input.form-control(type="text", id="email", placeholder="Email", autofocus="autofocus", name="email")
                    .one-full(class="form-group col-lg-12")
                        input.form-control(type="password", id="password", placeholder="Password", autofocus="autofocus", name="password")
                    .education-degree(class="form-group col-lg-12")
                        select.form-control(class="select-row col-lg-6")
                            each item,i in degreelevel
                                option(value=i) #{item}
                    .education-school(class="form-group col-lg-12")
                        input.form-control(type="text",class="form-group col-lg-12", id="university", placeholder="University", autofocus="autofocus", name="university")
                    .employer(class="form-group col-lg-6")
                        input.form-control(type="text",class="form-group col-lg-12", id="employer", placeholder="Company", autofocus="autofocus", name="company")
                    .employer(class="form-group col-lg-6")
                        input.form-control(type="text", class="form-group col-lg-12", id="position", placeholder="Occupation", autofocus="autofocus", name="occupation")
                    .home-signup(class="form-group col-lg-12")
                        input.form-control(class="btn btn-primary", type="submit", value="SIGN UP")
